.accountSide{
  position: absolute;
  top: 70px;
  right: 70px;
  width: 250px;
  height: auto;
  padding: 15px;
  background: #4D44B5;
  border-radius: 10px;
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  z-index: 100;
  @media screen and (max-width: 425px) {
    top: 50px;
    right: 0;
    border-radius: 0;
  }
  .name{
    display: flex;
    align-items: center;
    h3{
      color: white;
      margin-left: 15px;
    }
  }
  span{
    width: 100%;
    border: 1px solid white;
    margin: 15px 0;
  }
}