.center{
  display: flex;
  justify-content: center;
  position: fixed;
  top: 100px;
  left: calc(100% - 68%);
  .modal__window__none{
    padding: 15px;
    background: white;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transform: translateY(-100vh);
    transition: .5s;
    .variants{
      display: flex;
      align-items: center;
      button{
        width: 250px;
        height: 50px;
        color: white;
        margin: 0 5px;
        border: 0;
        border-radius: 50px;
        cursor: pointer;
        &:nth-child(1){
          background-color: red;
        }
        &:nth-child(2){
          background-color: orange;
        }
      }
    }
  }
  .modal__window{
    width: auto;
    height: auto;
    padding: 15px;
    background: white;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transform: translateY(0);
    transition: .5s;
    .delete{
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      .variants{
        display: flex;
        align-items: center;
        button{
          width: 250px;
          height: 50px;
          color: white;
          margin: 0 5px;
          border: 0;
          border-radius: 50px;
          cursor: pointer;
          &:nth-child(1){
            background-color: red;
          }
          &:nth-child(2){
            background-color: orange;
          }
        }
      }
    }
  }
}